<div class="container">
    <div class="sidebar">
        @for (component of components; track component) {
        <div class="component-item">
            {{ component.icon }} {{ component.type }}
            <button class="add-button" (click)="onAdd(component)">+</button>
        </div>
        }
    </div>

    <section class="form-area">
        @for (layout of layouts; track $index; let $layoutIndex = $index ) {
        <div class="row row-3">
            {{layout.type}}
            <button (click)="removeLayout($layoutIndex)" class="remove-button">
                x
            </button>
        </div>
        }
    </section>

    <button class="button" (click)="onLog()">
        log
    </button>
</div>