<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
        @for (control of jsonFormData()?.controls; track control.name) {
        @if (control.label !== '') {
        <label>{{ control.label }}</label>
        }

        @if (['text', 'password', 'email', 'number', 'search', 'tel', 'url'].includes(control.type)) {
        <input [type]="control.type" [formControlName]="control.name" />
        }

        @if (control.type === 'textarea') {
        <textarea [formControlName]="control.name"></textarea>
        }

        @if (myForm.get(control.name)?.invalid && myForm.get(control.name)?.touched) {
        @if (myForm.get(control.name)?.errors?.['required']) {
        <bb-validation-message [control]="myForm.get(control.name)!"></bb-validation-message>
        }
        }
        }
    </div>

    <button expand="full" type="submit">Submit</button>
</form>