@if (open) {
  <div class="fixed top-0 left-0 z-50 flex items-center justify-center w-full h-full bg-opacity-50">
    <div class="relative z-51 bg-white rounded-md shadow-xl p-6 max-h-[80vh] w-[80vw] overflow-y-auto">
      <h3 class="text-lg font-semibold mb-4">Source code</h3>

      <ngx-json-viewer [json]="layoutConfig" [expanded]="true"></ngx-json-viewer>

      <div class="flex justify-end gap-2">
        <button
          class="px-4 py-2 text-gray-600 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"
          (click)="closed.emit()">
          Cancel
        </button>
        <button
          class="px-4 py-2 text-white bg-red-500 rounded-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400"
          (click)="closed.emit()">
          Confirm
        </button>
      </div>
    </div>
  </div>
}
